html,
body {
    padding: 0;
    margin: 0;
    color: #57595a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /*internet*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../img/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.contenedor2 {
    border: 0;
    border-radius: 5px;
    padding: 45px;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 3px solid #aaa;
}

.formulario {
    background: rgb(255, 255, 255);
    margin-top: 125px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

.button2 {
    border: none;
    width: 10% auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: #000000;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background: #222124;
}

.button3 {
    border: none;
    width: 10% auto;
    color: rgb(19, 17, 17);
    font-size: 20px;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button3:hover {
    background: #3d3c3d;
}

.button4 {
    border: none;
    width: 10% auto;
    color: rgb(29, 27, 27);
    font-size: 20px;
    background: #ffffff;
    padding: 10px 15px auto;
    border-radius: 5px;
    cursor: pointer;
}

.button4:hover {
    background: #ff0000;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

.link2 {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.link2:hover {
    color: rgb(55, 55, 55);
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}


/*internet*/

.div-bar {
    background-color: #000c11;
    display: flex;
}

.nav-bar {
    background-color: #01040ab2;
    display: flex;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
}

.nav-bar ul li {
    padding: 5px 20px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 15px;
}

.nav-bar ul li a:hover {
    background-color: white;
    color: #03a9f4;
}

.container {
    padding: 10px 40px;
}

.table2 {
    margin: 150px auto;
    width: 600px;
}

.table2 {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 96%;
    font-size: 25px;
}

.table2 thead {
    background-color: #000000;
    border-bottom: solid 5px #0F362D;
    color: white;
}

.table2 tr:nth-child(even) {
    background-color: #ddd;
}

.table2 th,
.table2 td {
    border: solid 1px black;
    padding: 5px;
}

.table {
    margin: 150px auto;
    width: 600px;
}

.table {
    background-color: #fff;
    text-align: center;
    width: 50%;
    border-collapse: unset;
    font-size: 25px;
}

.table thead {
    background-color: #000000;
    border-bottom: solid 5px #0F362D;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #ddd;
}

.table th,
.table td {
    border: solid 1px black;
    padding: 5px;
}

.btn {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: #1ace38;
}

.btn-success {
    order: none;
    width: 50% auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #4caf50;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #5fc863;
}

.btn-danger {
    order: none;
    width: 50% auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #F44336;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #e6635a;
    color: white;
}

.title-page {
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.form-group label {
    font-size: 22px;
}

.form-group .form-control {
    margin-top: 5px;
    height: 25px;
    outline: none;
    border: 1px solid #bdbdbd;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.footer-page {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}